# https://github.com/github/gitignore/blob/master/C.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# cscope with Vim
cscope.*

#ctags with Vim
tags
types_c.taghl

#CtrlP
ctrlp.root

#html
*.html

#keil
*.sct
*.srf
*.icf
*.txt
*.log
*.bak
*.scvd
*.ini
*.Administrator
*.hp
*.uvoptx

DebugConfig/  
OBJ/
*.uvoptx
*.uvguix.cheng
*.axf
*.lnp
*.htm
*.build_log.htm
*.uvguix.cheng
*.dep
*.lnp
MDK-ARM/JC_FOC/JC_FOC.axf
MDK-ARM/JC_FOC/JC_FOC.build_log.htm
MDK-ARM/JC_FOC/JC_FOC_JC_FOC.dep
MDK-ARM/JC_FOC/JC_FOC.build_log.htm
